.product-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-details p {
    margin-bottom: 10px;
  }
  
  .delete-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }

  
  .back-button:hover {
    background-color: #0069d9;
  }

  .back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }